div#content {
    & figure {
	//micro, small and medium screens
	width: 100%;
	margin-bottom:30px;
	& img,
	& figcaption {
	    max-width: 100%;
	    margin: auto;
	}
	& figcaption {
	    width: 100%;
	    margin-top: 10px;
	    text-align: center;
	    font-style: italic;
	    font-size: 15px;
	    @media print {
		font-size: 10px;
	    }
	}
	@media (min-width:640px) {
	    width: 640px;
	}
	@media (min-width:768px) {
	    width: 700px;
	}
	@media (min-width:1020px) {
	    //largest screen
	    width: 1020px;
	    position: relative;
	    & figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		padding: 0 10px 0 0;
		text-align: right;
	    }
	}

	&.oversize,
	&.fill-width  {
	    //micro, small and medium screens
	    width: 100%;
	    height: 100%;
	    & img,
	    & figcaption {
		width: 100%;
		max-width: none;
	    }
	    //largest screen
	    @media (min-width:1020px) {
		height: auto;
		& figcaption {
		    position: relative;
		    text-align: center;
		}
		&.oversize {
		    width: 1020px;
		}
	    }
	    //print
	    @media print and (orientation:portrait){
		width: 100%;
		height: auto;
		& img {
		    width: 100%;
		    height: auto;
		}
	    }
	    @media print and (orientation:landscape){
		page-break-before: always;
		page-break-after: always;
		width: auto;
		height: 100%;
		& img {
		    width: auto;
		    height: calc(100% - 26px);
		}
	    }
	}
	&.fill-width {
	    margin: 80px 0;
	    @media print {
		margin: 50px 0;
	    }
	}

	/* float items */
	&.place-left,
	&.place-right {
	    //micro screen
	    width: 50%;
	    margin: 10px auto;
	    @media (min-width: 640px) {
		//small screen
		width: calc(50% - ((100% - 640px)/2));
		margin: 10px calc((100% - 640px)/2);
	    }
	    @media (min-width: 768px) {
		//medium screen
		width: calc(50% - ((100% - 700px)/2));
		margin: 10px calc((100% - 700px)/2);
	    }
	    @media (max-width:1019px) {
		&.expanded {
		    width: 100%;
		    margin: 10px auto;
		    float: none;
		    @media (min-width: 640px) {
			width: 640px;
		    }
		    @media (min-width: 768px) {
			width: 700px;
		    }
		    & img {
			max-width: 100%;
			margin: auto;
		    }
		}
	    }
	    @media (min-width:1020px) {
		//largest screen
		width: 510px;
		margin: 10px calc((100% - 1020px)/2);
		& img {
		    width: 350px;
		}
		&.expanded {
		    & img,
		    & figcaption {
			width: 100%;
		    }
		    & figcaption {
			margin: 10px auto;
			text-align: center;
			position: relative;
		    }
		}
	    }
	}
	//actual floating
	&.place-left {
	    float: left;
	    margin-right: 30px;
	    @media (min-width:1020px) {
		& img {
		    float: right;
		}
		& figcaption {
		    margin-left: 0;
		}
	    }
	}
	&.place-right {
	    float: right;
	    margin-left: 30px;
	    @media (min-width:1020px) {
		& img {
		    float: left;
		}
		& figcaption {
		    left: auto;
		    right: 0;
		    margin-right: 0;
		    padding: 0 0 0 10px;
		    text-align: left;
		}
	    }
	}
    }
}