div#content {
    & figure {
	//micro, small and medium screens
	@media (min-width:1020px) {
	    //largest screen
	    position: relative;
	    & figcaption {
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		padding: 0 10px 0 0;
		text-align: right;
	    }
	}

	&.oversize,
	&.fill-width  {
	    //micro, small and medium screens
	    & img {
		width: 100%;
	    }
	    //largest screen
	    @media (min-width:1020px) {
		& figcaption {
		    width: 100%;
		    position: initial;
		    text-align: center;
		}
	    }
	    //print
	    @media print {
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		max-height: 100%;
		& img {
		    width: auto;
		    height: auto;
		    max-width: 100%;
		    max-height: calc(100% - 26px);
		}
	    }
	}
	&.fill-width {
	    width: 100%;
	    margin: 80px auto;
	}

	/* float items */
	&.place-left,
	&.place-right {
	    //micro screen
	    width: 50%;
	    margin: 10px auto;
	    @media print {
		width: auto;
		max-width: 50%;
		& img {
		    margin: 0;
		}
	    }
	    @media screen and (min-width: 640px) {
		//small screen
		width: calc(50% - ((100% - 640px)/2));
		margin: 10px calc((100% - 640px)/2);
	    }
	    @media screen and (min-width: 768px) {
		//medium screen
		width: calc(50% - ((100% - 700px)/2));
		margin: 10px calc((100% - 700px)/2);
	    }
	    @media screen and (min-width:1020px) {
		//largest screen
		width: 510px;
		margin: 10px calc((100% - 1020px)/2);
		& img {
		    width: 350px;
		}
		&.expanded {
		    & img,
		    & figcaption {
			width: 100%;
		    }
		    & figcaption {
			margin: 10px auto;
			text-align: center;
			position: relative;
		    }
		}
	    }
	    &.expanded {
		//make expanded behave like basic image if screen is medium or less
		@media screen and (max-width:1019px) {
		    width: 100%;
		    margin: 10px auto;
		    float: none;
		    @media (min-width: 640px) {
			width: 640px;
		    }
		    @media (min-width: 768px) {
			width: 700px;
		    }
		    & img {
			max-width: 100%;
			margin: auto;
		    }
		}
	    }
	}
	//actual floating
	&.place-left {
	    float: left;
	    margin-right: 30px;
	    @media print {
		margin-left: 2cm;
		&.expanded {
		    margin-left: 0;
		}
	    }
	    @media (min-width:1020px) {
		& img {
		    float: right;
		}
		& figcaption {
		    margin-left: 0;
		}
	    }
	}
	&.place-right {
	    float: right;
	    margin-left: 30px;
	    @media print {
		margin-right: 2cm;
		&.expanded {
		    margin-right: 0;
		}
	    }
	    @media (min-width:1020px) {
		& img {
		    float: left;
		}
		& figcaption {
		    left: auto;
		    right: 0;
		    margin-right: 0;
		    padding: 0 0 0 10px;
		    text-align: left;
		}
	    }
	}
    }
}