div#content {
    margin: auto;
    width: 100%;
    & h1,
    & h2,
    & h3,
    & p,
    & blockquote,
    & figure {
	margin: auto;
	width: 100%;
    }
}
@media (min-width: 640px) {
    div#content {
	& h1,
	& h2,
	& h3,
	& p,
	& blockquote,
	& figure {
	    width: 640px;
	}
    }
}
@media (min-width: 768px) {
    div#content {
	& h1,
	& h2,
	& h3,
	& p,
	& blockquote,
	& figure {
	    width: 700px;
	}
    }
}

div#content {
    & h1,
    & h2,
    & h3,
    & p {
	padding: 0 20px;
	@media print {
	    padding: 0;
	}
	@media (min-width:640px) {
	    padding: 0;
	}
    }
    & h1,
    & h2,
    & h3 {
	text-align: left;
    }
    & h1 {
	font-size: 60px;
	margin: 2px auto 8px auto;
    }
    & h2 {
	font-size: 36px;
	margin-top: 40px;
    }
    & h3 {
	font-size: 30px;
	margin-top: 40px;
    }
    & p,
    & blockquote {
	font-size: 22px;
	margin-bottom: 30px;
    }
    & blockquote {
	padding: 0 20px;
	font-style: italic;
	@media (min-width:640px) {
	    position: relative;
	    left: 10px;
	    padding: 0 10px;
	}
    }
    & hr {
	clear: both;
    }
}

@media print {
    div#content {
	//margins and width
	margin: auto;
	width: auto;
	& h1,
	& h2,
	& h3,
	& p,
	& blockquote,
	& figure {
	    margin-left: 0;
	    margin-right: 0;
	    width: auto;
	}
	//page breaks
	& h1,
	& h2,
	& h3 {
	    page-break-after: avoid;
	}
	//page breaks //Mozilla firefox hack
	@supports (-moz-appearance:meterbar) {
	    & figure,
	    & figure img,
	    & figure figcaption {
		page-break-inside: avoid;
	    }
	}
	//font sizes
	& h1 {
	    font-size: 38px;
	}
	& h2 {
	    font-size: 24px;
	}
	& h3 {
	    font-size: 20px;
	}
	& p,
	& blockquote {
	    font-size: 14px;
	}
    }
}